.matchList {
  list-style: none;
  margin: 10px 50px;
  padding: 0;
}

.matchList li {
  padding: 30px;
  border-top: 1px solid #00000030;
}

.matchList li:first-child {
  border-top: none;
}

.matchList li:last-child {
  padding-bottom: 0;
}

.filters {
  display: flex;
  align-self: center;
  text-transform: uppercase;
  justify-content: space-evenly;
}

.filters a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  height: 50px;
  margin: 15px;
  padding: 0 20px;
  border-radius: 2.5%;
  font-size: 0.7rem;
  font-family: Poppins;
  color: #fafafa;
  background: rgb(72, 72, 88);
  box-shadow: 1px 1px 21px -1px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
  cursor: pointer;
}

.filters a:hover {
  box-shadow: 1px 1px 21px -1px rgba(0, 0, 0, 0.75);
}

.pressed {
  box-shadow: inset 0 0 12px 3px #0000004f;
  opacity: 0.8;
}
